html
    head
        title Tech Makers Via Javascript
        style body {background:cyan;font-style:italic;font-size:15px;}
        script(src='https://unpkg.com/browse/axios@0.2.1/dist/')
        script.
            console.log("Pug files are awsome")
    body 
        block content