extends layout
block content 
    h1 Here is #{people.length} people in this Awsome Javascript Course
    div.people-container
        each person of people
            p   #{person.name} is 
                strong #{person.age} years old
    

